/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.dashboard{
    background:linear-gradient(to right, rgba(0,0,0,.13), rgba(0,0,0,.13)),url(image/bg.jpg) ;
    height: 100vh;
    width: 100%;
   background-repeat: no-repeat;
    background-size: cover;
    
}
.main .home-text{
    width:90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.main .home-text h1{
    color: #fff;
    
    font-size: 72px;
  background: -webkit-linear-gradient(#000,#df4b44 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  border-radius: 12px;
  background: transparent;
  box-shadow: 0 20px 30px rgba(0,0,0,0.6);
}
.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li a{
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 100%;
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
/*Food Section*/
/* Basic design of blog card */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

/* Blog post design starts from here */
.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px #d7dfe2; /* Card outline shadow */
  background: white; /* post background color */
  border-radius: 0.5rem;
  position: relative;
  width: 350px; /* post card width */
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.card:hover {  /* blog post hover */
  transform: scale(1.05);
  box-shadow: 0px 2px 40px #d7dfe2;
}

/*Design banner image*/
.banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem; /* image height */
  width: 100%;
}

/* Design catagory text */
.category-tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: white; /* text color */
  background: red;  /* text background color */
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

/* 1st catagory text background color */
.popular {
  background: #ef257a;
}

/* 2st catagory text background color */
.technology {
  background: #651fff;
}

/* 3st catagory text background color */
.psychology {
  background: #e85808;
}

/* Design of # tags, heading, description starts from here */
.card-body {
  margin: 15rem 1rem 1rem 1rem;
}

/* #tags design */
.blog-hashtag {
  font-size: 0.9rem;
  font-weight: 500;
  color: #4d97b2;
}

/* heading design */
.blog-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
}

/* description design */
.blog-description {
  color: #616b74;
  font-size: 0.9rem;
}



/*Design of profile image, name, followers starts from here*/
.card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

/* Profile image */

.profile-img {
  width: 60px; /* image width */
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.card-profile-info {
  margin-left: 1rem;
}

/* profile name */
.profile-name {
  font-size: 1rem;
}

/*Profile followers */


/**Chef Section */
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.chef .chef-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.chef .chef-details .left{
  width: 45%;
}
.chef .left img{
  height: 500px;
  width: 600px;
  object-fit: cover;
  border-radius: 12px;
}
.chef-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.chef-details .right p{
  text-align: justify;
  color: #0E2431;
}
/**second chef section */




/**Team Section */
@font-face {
  font-family: Exo;
  src: url(./fonts/Exo2.0-Medium.otf);
}
.main-team{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.profile-card-team{
  position: relative;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}
.profile-card-team:hover{
  border-radius: 10px;
  height: 260px;
}
.profile-card-team .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}
.profile-card-team:hover .img{
  transform: translateY(-60px);
}
.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}
.profile-card-team:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card-team:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 21px;
}
.caption p{
  font-size: 16px;
  color: #0c52a1;
  margin: 2px 0 9px 0;
}
.caption .social-links a{
  color: #333;
  margin-right: 8px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #0c52a1;
}
/*Price Table*/

.price-table{
  max-width: 1080;
  width: 70%;
  margin:0 auto;
  display: flex;
  justify-content: center;
  
}
.price-table .card{
  background: #fff;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 30px  30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.price-table .card .top{
  height: 160px;
  color: #fff;
  padding: 12px 0 0 0 ;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}

.price-table .card .top .title{
 font-size: 27px;
 font-weight: 600;
}
.price-table .card .top .price-sec{
  margin-top: -10px;
  font-weight: 600;
}
.price-table .card .top .price{
  font-size: 45px;
}
.price-table .card .info{
  font-size: 16px;
  margin-top: 20px;
}
.price-table .card .details .one{
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.price-table .card .details .one::before{
  position: absolute;
  content: "";
  width: 100%;
  background: #ddd;
  height: 1px;
  left: 0;
  top: -12px;
  border-radius: 25px;
}
.price-table .card .details .one i{
  color: #2db94d;
}
.price-table .card .details i.fa-times{
  color: #cd3241;
}
.price-table .card button{
  outline: none;
  border: none;
  height: 42px;
  color: #fff;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
}
.price-table .one .top,
.price-table .one button{
  background: #14eb6e;
}
.price-table .two .top,
.price-table .two button{
  background: #e87130;
}
.price-table .three .top,
.price-table .three button{
  background: #11BCC3;
}
.price-table button:hover {
  filter: brightness(90%);
}
.price-table .one ::selection{
background: #8af5b6;
}
.price-table .two ::selection{
background:  #f2b08c;
}
.price-table .three ::selection{
background: #d0f9fb;
}
@media (max-width:1000px) {
   .price-table .card{
    background: #fff;
    width: calc(50% - 20px);
    margin-bottom: 30px;
}
}
@media (max-width:715px) {
 .price-table .card{
    width: 100%;
}
}
/**Footer**/


a {
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #121518;
}

.footer .footer-about,
.footer .footer-contact,
.footer .footer-links,
.footer .footer-project {
  position: relative;
  margin-bottom: 45px;
  color: #999999;
}

.footer .footer-about h3,
.footer .footer-contact h3,
.footer .footer-links h3,
.footer .footer-project h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #eeeeee;
}

.footer .footer-about h3::after,
.footer .footer-contact h3::after,
.footer .footer-links h3::after,
.footer .footer-project h3::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #eeeeee;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
}

.footer .footer-social a {
  text-align: center;
  color: #999999;
  font-size: 14px;
  border: 1px solid #999999;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 6px 0;
  border-radius: 35px;
}


.footer .footer-social a:hover {
  color: #ffffff;
  background: #0085ff;
  border-color: #0085ff;
}
.footer .footer-contact p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #999999;
}

.footer .footer-contact i {
  margin-right: 10px;
  font-size: 16px;
  color: #999999;
}

.footer .footer-contact a:last-child i {
  margin: 0;
}

.footer .footer-contact a:hover i {
  color: #0085ff;
}
.footer .footer-links a {
  margin-bottom: 6px;
  padding-left: 15px;
  color: #999999;
  display: block;
}

.footer .footer-links a:last-child {
  margin: 0;
}

.footer .footer-links a:hover {
  color: #0085ff;
}

.footer .footer-links a::before {
  position: absolute;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 0;
}
.footer .footer-project {
  float: left;
  font-size: 0;
}

.footer .footer-project a {
  padding: 0 8px 8px 0;
  display: block;
  width: 33.33%;
  float: left;
}

.footer .footer-project a img {
  width: 100%;
}
.footer .footer-newsletter {
  text-align: center;
  color: #999999;
  margin-bottom: 35px;
  max-width: 700px;
}

.footer .footer-newsletter input {
  background: rgba(256, 256, 256, .15);
  margin-bottom: 15px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.footer .footer-newsletter .btn {
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background: #e9414a;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 35px;
  font-size: 14px;
  border: none;
  transition: .3s;
}

.footer .footer-newsletter .btn:hover {
  color: #0085ff;
  background: #ffffff;
}

.footer .footer-newsletter .btn:focus {
  box-shadow: none;
}